{% extends 'admin.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div class="main-heading" style="margin-top: 150px; text-align: center; height: 280px;">
        <h1 style="font-family: 'Raleway SemiBold'">Bienvenue dans la zone d'administration</h1>
    </div>

{% endblock %}
