{% extends 'restaurant.html.twig' %}

{% block title %}Espace Restaurant{% endblock %}

{% block body %}
  <div class="main-heading" style="margin-top: 150px; text-align: center; height: 280px;">
        <h1 style="font-family: 'Raleway SemiBold'">Bienvenue dans la zone Restaurant</h1>
    </div>
{% endblock %}
