{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
  



    <section class="baners-search">
        <div class="container">
            <div class="search-main">
                <form class="inner-search-box text-center">
                    <h4>C'est bon de commander</h4>
                    <p>Failtes-vous livrer les meilleurs restos pres de chez vous avec La Pizza</p>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Entrez votre adresse">
                        <div class="input-group-append">
                            <button class="btn btn-primary"><span class="text">Je commande</span> <span class="img-search"><img src="images/search.svg" alt=""></span> </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <div class="container orderConatiner">
        <div class="row">
            <div class="col-sm-6 col-lg-6">
                <img class="img-fluid" src="{{ asset('content/') }}images/order-pizza.jpg" alt="Order La Pizza">
            </div>

            <div class="col-sm-6"><h1>Pas besoin d'appeler, juste</h1>
                <h1>besoin de l'appli</h1>
                <p class="offset-2">Téléchargez l'app La pizza et retrouvez tous nos restos </p>
                <p  style="margin-top:0px;">partenaires où que vous soyez.</p>
                <img class="img-fluid" src="{{ asset('content/') }}images/apple-logo.PNG">
                <img class="img-fluid offset-1" src="{{ asset('content/') }}images/samsung-logo.PNG">
            </div>
        </div>
    </div>

    <section class="d-none d-sm-block">
        <div class=" orderContainerText">
            <div class="container">

                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.

                </p>

            </div>
        </div>

    </section>
{% endblock %}

